* {
    background-color: powderblue;
}
h1,h2,p,a {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: rgb(52, 0, 110);
}
#github {
    width: 300px;
    position: absolute;
    right: 530px;
    top: 130px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}
.cont:hover #github {
    opacity: 0.3;
}
.cont:hover .middle {
    opacity: 1;
}
#resume {
    width: 300px;
    position: absolute;
    right: 930px;
    top: 130px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}
.cont:hover #resume {
    opacity: 0.3;
}
#e7repo {
    width: 300px;
    position: absolute;
    right: 135px;
    top: 165px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 30px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}
.cont:hover #e7repo {
    opacity: 0.3;
}
#webrepo {
    width: 300px;
    position: absolute;
    right: 135px;
    top: 420px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 30px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}
.cont:hover #webrepo {
    opacity: 0.3;
}
#mpweb {
    width: 320px;
    position: absolute;
    right: 135px;
    top: 600px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}
.cont:hover #mpweb {
    opacity: 0.3;
}
#mprepo {
    width: 320px;
    position: absolute;
    right: 135px;
    top: 700px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}
.cont:hover #mprepo {
    opacity: 0.3;
}
#newsweb {
    width: 320px;
    position: absolute;
    right: 135px;
    top: 850px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}
.cont:hover #newsweb {
    opacity: 0.3;
}
#newsrepo {
    width: 320px;
    position: absolute;
    right: 135px;
    top: 950px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}
.cont:hover #newsrepo {
    opacity: 0.3;
}
#chatweb {
    width: 320px;
    position: absolute;
    right: 135px;
    top: 1100px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}
.cont:hover #chatweb {
    opacity: 0.3;
}
#chatrepo {
    width: 320px;
    position: absolute;
    right: 135px;
    top: 1200px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}
.cont:hover #chatrepo {
    opacity: 0.3;
}
#youtube {
    width: 300px;
    position: absolute;
    right: -150px;
    top: 130px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 30px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}
.cont:hover #youtube {
    opacity: 0.3;
}
h1 {
    font-size: 90px;
    margin: auto;
    text-align: center;
}
.will {
    width: 470px;
    height: 650px;
    position: absolute;
    left: 60px;
    top: 230px;
}

#ab {
    font-size: 75px;
    position: absolute;
    top: 190px;
    right: 490px;
}
#aboutme {
    font-size: x-large;
    width: 60%;
    position: absolute;
    right: 100px;
    top: 350px;
}
.projects {
    position: absolute;
    top: 920px;
    left: 50px;
}
#pro {
    text-align: center;
    margin: auto;
    font-size: 75px;
}
.des {
    font-size: x-large;
    width: 63%;
}
hr {
    color: rgb(52, 0, 110);
    background-color: rgb(52, 0, 110);
    width: 1690px;
    position: relative;
    right: 20px;
}
